:root {
  --background-color: #FFFFFF;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
}

input,
textarea {
  outline: none;
}

.container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
}